@import 'noise.css';
/*@import 'reset.css';*/


html {
	background: #999;
}

h1, h2, h3, h4, div, p, a, ul, li {
	font-family: helvetica, arial, sans-serif;
	font-size: medium;
	font-weight: normal;
	font-style: normal;
/*	background: black;*/
}

h1 {
	font-size: 2em;
	font-weight: bolder;
	line-height: 60px;
}

h2 {
	font-size: 1.4em;
	font-weight: bold;
}

h3 {
	font-size: 1.4em;
	color: #292929;
}

h4 {
	font-size: .9em;
	font-weight: bold;	
	line-height: 25px;
}

#wrapper {
	width: 100%;
/*	height: 1268px;*/
	background: #333;
	padding-top: 55px;
}

#top-banner-container {
	height: 40px;
	background: #24b0d4;
/*	background: red;*/
	margin: -55px 0 0 0;
	position: absolute;
	width: 100%;
	line-height: 40px;
	box-shadow: 0px 1px 2px #393939;
}

#top-banner {
/*	background: blue;*/
	width: 960px;
	margin: auto;
/*	float: right;*/
}

#top-banner p a {
/*	background: #333;*/
	float: right;
/*	padding-right: 80px;*/
	color: white;
	font-weight: bold;
	font-size: .8em;
	text-decoration: none;
	text-shadow: 0px 1px 1px #555;
	display: inline;
}


#top-banner a:hover {
	color: #ffab00;
}

#top-banner a:active {
	position: relative;
	top: 1px /* or more */
}




#container {
	width: 965px;
	height: 1100px;
	background: white;
	margin: 0 auto;
	padding: 0 0 0 5px;
	box-shadow: 0px 1px 5px #292929;
}

#offer-container {
	width: 960px;
/*	background: red;*/
	float: left;
	margin: 0 auto;
	padding: 0 0 0 15px;
	
}

#offer-tag {
	width: 960px;
/*	background: green;*/
	float: left;
/*	clear: both;*/
	margin: 0 auto;
	line-height: 50px;
	
}

#offer-tag p {
	font-size: 2em;
	font-weight: bold;
/*	color: purple;*/
	width: 160px;
	float: left;
/*	clear: both;*/
	
}
	
#offer-tag h2 {
	width: auto;
	float: left;
	margin: 5px 10px 0 0;
}

#active-btn {
	width: 40px;
/*	height: 100%;*/
	background: #21980b;
	margin-top: 20px;
	padding: 3px 0 0 10px;
	line-height: 15px;
	position: relative;
	font-family: helvetica, arial, sans-serifv;
	font-size: .6em;
	color: white;
/*	clear: both;*/
	float: left;
	border-radius: 5px;
	box-shadow: 0px 1px 0px #777;
	
	
}

#offer-title {
/*	background: white;*/
	line-height: 50px;
	padding: 0 0 0 0px;
	
}

#offer-img-container {
	background: red;	
	padding: 0 0 0 15px;
}

#offer-img {
	width: 500px;
	height: 350px;	
/*	background: #222;*/
	float: left;
	position: relative;
	
}

#offer-img-banner {
	width: 500px;
	height: 330px;
/*	background: #777;*/
	background: url(images/offer-img-banner.png);
	position: absolute;
	margin-top: 107px;
	margin-left: -9px;
/*	float: left;*/
/*	box-shadow: inset 0px 1px 5px #666	*/
}

.percent {
	width: 100px;
/*	background: red;*/
	-webkit-transform: rotate(-28deg);
	-moz-transform: rotate(-28deg);
	position: absolute;
	font-size: 3em;
	font-weight: bolder;
	padding: 10px 0 0 0;
	margin: 37px 0 0 15px;
	letter-spacing: -3px;
	color: white;
	text-shadow:inset 0px 1px 1px #292929;
}

#offer-img-banner p {
	margin-left: -999px;
}

#price-tag-wrapper {
	width: 185px;
	height: 400px;
/*	background: blue;*/
	background: url(images/tag.png) no-repeat 0 0;
	
}

#price-tag-container {
	width: 190px;
	height: 400px;
	padding: 0 20px;
/*	background: #444;*/
	float: left;
/*	background: red url(images/tag.png) no-repeat 0 0;*/
/*	margin: 0 auto;*/
	
}

#price-tag {
	width: 190px;
/*	color: red;*/
/*	margin: 25px;*/
/*	padding: 25px;*/
	position: relative;
	top: 30%;	
	margin: 0 auto;	
}

#dollar {
	width: 100%;
	height: 100px;
/*	background: #333;*/
}

#dollar p {
	font-size: 3em;
	font-weight: bolder;
	color: #ffab00;
}

#dollar span {
	color: #666;
}

#count-down {
	background: #333;
	width: 170px;
	height: 50px;
	padding: 10px 5px 5px 5px;
	box-shadow:inset 0px 1px 10px #000;
	position: absolute;
	margin: 0px 0px 0px 5px;
}

#count-down p {
/*	background: red;*/
	font-size: 1.5em;
	font-weight: bold;
	color: #666;
	text-shadow: 0px 1px 0px #111;
}

#count-down span {
	font-weight: bold;
	font-size: 1.2em;
	line-height: 20px;
	color: #999;
	text-shadow: 0px 2px 0px #111;
}

#seats-container {
	margin-top: 75px;
/*	background: red;*/
}

#seats {
	color: #666;
	padding-top: 15px;
}

#seats p {
/*	margin-top: 15px;*/
/*	padding: 2px 0 5px 0;*/
	line-height: 20px;
	font-weight: bold;
	font-size: 1.3em;
}

#seats span {
	color: #ffab00;
}

p#small {
/*	background: red;*/
	font-size: 1em;
	font-weight: normal;
	clear: both;
}



/*************************************************************************
**************************************************************************

Form Styles 

**************************************************************************
*************************************************************************/


#form-container {
	width: 220px;
	height: 400px;
	background: #555;
	background: url(images/coupon.png) no-repeat;
	float: right;
	
}

#buy-form {
	float: none;
	margin: auto;
	padding: 0px 0px 0px -20px;
/*	margin: 0px 0px 0px -20px;*/
/*	top: 35%;*/
	position: relative;
/*	background: blue;*/
}

#buy-form h4 {
/*	background: gray;*/
	color: #b7ec58;
	width: 200px;
	height: 40px;
	padding: 0px 0px 0px 0px;
	margin: 50px 0 0 13px;
	position: relative;
	font-weight: bold;
	font-size: 2em;
	text-shadow: 0px 2px 3px #292929;
	background: #f4f4f4;
	border-radius: 5px;
/*	box-shadow: inset 0px 0px 9px #b1b1b1;*/
	line-height: 40px;
	text-indent: 14px;
	}



/******************************************************************
********************************************************************

OLD FORM


#buy-form {
	background: green;
	margin: auto;
}

#form {
	background: #3366ff;
	position: relative; 
	padding: 0px 0 0 20px;
	margin: auto;
	width: 100px;
}

#form p {
	position: absolute;
	margin: 0 auto;
	padding: 5px 0 0 10px;
	width: 100%;
	font-size: .8em;
}

#name {
	width: 100px;
	height: 100px;
	background: red;
	margin: -500px 50px 0 0;
}

********************************************************************
*******************************************************************/

/*NEW FORM*/

#myform {
	width: 230px;
	height: 100px;
	padding: -50px 0 0 0;
	margin: 30px 0 0 0;
	position: relative;
/*	background: red;*/
}

#myform p {
	text-indent: -9999px;
	padding:  ;
	float: left;
	position: relative;
}

input, textarea, select {
  background-color : white;
  color : #292929;
} 

input {
  border : 1px solid #999;
  padding : 5px;
  font-size: 1em;
  font-family: helvetica;
  color: #666;
} 

.box { 
	width: 180px; 
	height: 15px; 
	border-radius: 5px;
	box-shadow:inset 0px 1px 1px #292929;
	margin: 0 0 0 15px;
}

/*END NEW FORM*/





#buy-btn-container {
	width: 230px;
	height: 60px;
/*	background: #24b0d4;*/
/*	box-shadow: 0px 1px 1px #666*/
}

.btn:active {
	position: relative;
	top: 2px /* or more */
} 

.btn {
/*	width: 130px;
	margin: 50px auto;
	font-weight: bold;
	padding: 15px;
/*	background: #24b0d4;*!/
/*	color: white;*!/
/*	font-size: 1.8em;*!/
/*	display: inline;*!/
	text-shadow: 0px 1px 1px #666;*/
/*	background: url(images/buy-btn-sprite.png) no-repeat;
	height: 50px;
	width: 208px;
	margin: 50px auto;
	position: absolute;*/
}

.btn {
	background: red;
	margin: 50px auto;
	background: url(images/buy-btn-sprite.png) no-repeat 0 0;
	width: 216px;
	height: 49px;
	display: block;
	text-indent: -9999px;
}

.btn:hover {
	background-position: 0 -49px;
}

.btn:active {
	background-position: 0 -99px;
}

#social-container {
	width: 876px;
	height: 35px;
/*	background: #3366ff;*/
	float: right;
	margin: -50px 0 0 0;
	padding: 15px 0 0 0;
	position: relative;
/*	line-height: 50px;*/
/*	box-shadow: 0px 2px 5px #292929;*/

}

#social img:active {
position:relative;
top:2px /* or more */
} 

#social p {
	width: 210px;
	margin: 0 0 0 80px;
	float: left;
}

#social img{
	width: 32px;
	padding: 0 5px;
	margin: -10px 0 0 0;
	display: inline;
	float: left;
/*	clear: both;*/
}

#main-content-container {
/*	background: #666;*/
/*	color: black;*/
	width: 630px;
	float: left;
/*	margin-top: 25px;*/
	margin: 0 0 0 25px;
}

#main-content p {
/*	background: #444;*/
	color: black;
	margin: 0 60px 0 0;
	font-size: .9em;
	line-height: 20px;
}

#main-content h3 {
/*	background: #777;*/
	font-size: 2em;
	color: #292929;
	width: 100%;
	line-height: 80px;
}

#fine-print-container {
	width: 310px;
	float: left;
	margin: 20px -30px;
	background: #a0a0a0;
	border-radius: 5px;
	box-shadow: 0px 1px 2px #000;

}

#fine-print {
/*	width: 100%;*/
	background: #fff;
	border-radius: 5px;
	margin: 15px;
	padding: 15px;
/*	box-shadow: inset 0px 0px 5px #292929;*/
	
}

#fine-print h3 {
	line-height: 35px;
	box-shadow: 0px 1px 0px #fff;
/*	border-style: solid;*/
	border-bottom: 1px solid #666;
	padding: 0 0 0 0;
	margin: 0 0 10px 0;
	font-size: 1.5em;
	font-weight: bold;
	
}

#fine-print p {
	font-size: .5em;	
}

#fine-print ul li {
	list-style-position: outside;
	list-style-image: url(images/bullet.png);
	list-style-type: square;
	margin: -2px 0 0 15px;
	padding: 5px 0 0 0;	
	font-size: .8em;
	
}

#details {
	background: #fff;
	border-radius: 5px;
	margin: 15px;
	padding: 15px;
	
}

#details h3 {
	line-height: 35px;
	box-shadow: 0px 1px 0px #fff;
/*	border-style: solid;*/
	border-bottom: 1px solid #666;
	padding: 0 0 0 0;
	margin: 0 0 10px 0;
	font-size: 1.5em;
	font-weight: bold;
	
}

#details ul li {
	list-style-position: outside;
	list-style-image: url(images/bullet.png);
	list-style-type: square;
	margin: -2px 0 0 15px;
	padding: 5px 0 0 0;
	font-size: .8em;
}

/*#envelope-container {
	float: left;
	width: 1100px;
	height: 200px;
	background: red;
	text-indent: -9999px;
	background: url(images/envelope.png) no-repeat 0 0;
	margin: 810px 0 0 -41px;
	position: absolute;
	
}*/




#envelope-container {
	float: left;
	width: 100%;
	height: 90px;
/*	background: #666;*/
	margin: 0;
	position: fixed;
	bottom: 0;
	text-indent: -9999px;
	
/*   position:fixed;*/
/*   left:0px;*/
/*   bottom:0px;*/
/*   height:30px;*/
/*   width: 960px;
   background:red;
   position: relative;*/
}

/* IE 6 
* html #envelope-container {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}*/

#page {
/*	background: white;*/
	width: 960px;
	height: 50px;
	margin: auto;
}

#envelope-container {
	width: 100%;
	height: 190px;
/*	background: green;*/
	margin: -250px 0 0 0;
	
	
}

#envelope {
	width: 1042px;
	height: 590px;
	background: url(images/envelope.png) no-repeat;
	margin: -140px auto;
	
}



































